<html>
    <head></head>
    <body>
        <div id="content">
            <p>content:<%=article_params.content%></p>
            <p>title:<%=article_params.title%></p>
            <%if(article_params.poster){%>
                <img src="<%=article_params.poster%>"/>
            <%}%>
        </div>
    </body>
</html>